

/* OS ESTILOS COMEÇAM AQUI */
.img-login-icon {
    height: 95%;
}

.img-login-icon:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.login-text {
    font-size: .9rem;
    font-weight: 600;
}

.login-text:hover {
    font-size: .93rem;
    font-weight: 620;
    color: #33ff00d0;
    transition: all .4s ease-in-out;
    transform: scale(0.5.0.5);
}