.h80 {
    height: 60px;
}

/* OS ESTILOS COMEÇAM AQUI */

/* titles styles */

.primary-title-footer {
    font-size: 1.3rem;
}

.paragraph-footer {
    font-size: .8rem;
}

.navbar {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.img-login-icon {
    height: 95%;
}

.img-login-icon:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.login-text {
    font-size: .9rem;
    font-weight: 600;
}

.login-text:hover {
    font-size: .93rem;
    font-weight: 620;
    color: #33ff00d0;
    transition: all .4s ease-in-out;
    transform: scale(0.5.0.5);
}

.midle {
    height: 33.33%;
}

.flex-midle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 100px;
    width: 400px;
}

.logo-img img {
    object-fit: cover;
    object-position: center;
    width: 50%;
    height: 50%;
    overflow: visible;
}

.number-input {
    width: 50px;
    text-align: center;
    border-radius: 1rem;
    padding: 5px;
}

.social-icons .icons{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: visible;
    padding: 0;
    margin: 0;
}